body {
  background: transparent;
  margin: 0px;
  display: flex;
  font-size: 14px;
  overflow: hidden;
  height: 415px;
}
.placeholder {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  color: #a7a7a7;
  font-weight: bold;
  height: 0;
}
.element {
  width: 30px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.short-line {
  background-color:#b9b9b9;
  height: 1px;
  width: 30px;
}

.hidden {
  background-color: transparent;
  visibility: hidden;
}
.xshort-line {
  background-color: #b9b9b9;
  height: 1px;
  width: 10px;
}
